<div id="comments-list">
    {{#commentDtos}}
        <div class="card-header">
            {{nickname}}
        </div>
        <div class="card-body">
            {{body}}
        </div>
    {{/commentDtos}}
</div>