{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">전체내용 출력</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <!--        가짜 데이터 넣기-->
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td>{{.}}</td>
        </tr>
    {{/article}}
    {{^article}}입력되지 않음{{/article}}
    </tbody>
</table>
{{>layouts/footer}}